
  .dummyInline{
    display:inline-block;
    padding: 30px;
}

.dummyInline1{
     display:inline-block;
     font-weight: small;  
}
.sec {
    background-color: red;
    padding: 8px;
    color: white;
}
.box{
    border-radius: 10px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    max-width: 350px;
    overflow: hidden;
    /*The overflow property specifies what should happen if content 
    overflows an element's box. This property specifies whether to clip content 
    or to add scrollbars when an element's content is too big to fit 
    in a specified area. Note: The overflow property only works
     for block elements with a specified height.*/
  } 

  .bg {
    background-color:rgb(82, 52, 52); 
     
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;

  }
  

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
  }

  .Row
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.Column
{
    display: table-cell;
    
}

.x {
    text-align: center;
}
p.x1 {
  font-weight: bold;
  font-size: 150%;
}

.txtColor {
    color: white;
}
img {
  border-radius: 50%;
}
